<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="messageQueue" type="CompanyName.MessageQueue.Config.BusConfigSectionHandler, CompanyName.Business" />
	</configSections>
	<messageQueue prefetchCount="20" concurrencyLimit="20" durable="false" autodelete="true" endpointName="companyname-web">
		<host>rabbitmq://companynamerabbit.com/companyname-Dev</host>
		<login>appulate</login>
		<password>1</password>
	</messageQueue>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="DatabaseServer" value="localhost" />
		<add key="DatabaseName" value="CompanyNameStaging-Dev" />
		<add key="DatabaseCredentials" value="companyname;companyname11" />
		<add key="StorageFolder" value="D:\Projects\CompanyName\Storage\" />
		<add key="EmailErrorMessagesHighPriority" value="false" />
	</appSettings>
</configuration>